//Colors
//primary
$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);

//Secundary

$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);
$Footer-color: hsla(0, 0%, 90%, 0.845);

//Fonts
$principal_Font: "Bai Jamjuree", sans-serif;
