/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(./images/bg-header-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 100vw;
  overflow: hidden;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  text-align: center;
  justify-content: center;
  color: hsl(210deg, 10%, 33%);
}

.header {
  margin-top: 8.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-top {
  background-color: hsl(171deg, 66%, 44%);
}

.btn-bottom {
  background-color: hsl(233deg, 100%, 69%);
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-top: 2.8125rem;
}

.buttons {
  text-decoration: none;
}
.buttons__a {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 80%;
  height: 3.4375rem;
  border-radius: 48px;
  color: rgba(241, 241, 241, 0.9450980392);
  text-decoration: none;
}
.buttons__h1 {
  margin-top: 4.375rem;
}
.buttons__h2 {
  margin-top: 10.625rem;
}
.buttons__p {
  margin-top: 1.25rem;
  color: hsl(201deg, 11%, 66%);
}

.section-top {
  margin-top: 10rem;
}
.section-top__img {
  margin-top: 3.75rem;
}
.section-top__p {
  color: hsl(201deg, 11%, 66%);
  margin-top: 1.25rem;
}

.article-img__h3 {
  margin-top: 3.125rem;
}
.article-img__p {
  color: hsl(201deg, 11%, 66%);
  margin-top: 1.25rem;
}

.section-mobile {
  margin-top: 9.375rem;
}

.article-mobile__h2 {
  margin-top: 7.5rem;
}
.article-mobile__img {
  margin-top: 3.75rem;
}
.article-mobile__p {
  color: hsl(201deg, 11%, 66%);
}

.article-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}
.article-summary__img {
  margin-top: 3.125rem;
}
.article-summary__h3 {
  margin-top: 2.5rem;
}
.article-summary__p {
  color: hsl(201deg, 11%, 66%);
  margin-top: 1.25rem;
}

.logos {
  height: 70vh;
}
.logos__li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.3125rem;
  width: 100%;
  background-color: hsla(0deg, 0%, 90%, 0.845);
}
.footer__a {
  color: hsl(210deg, 10%, 33%);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-top: 1.875rem;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.footer__a:hover {
  color: hsl(171deg, 66%, 44%);
}
.footer__logo {
  width: 3.125rem;
}

.nav-social {
  display: flex;
  width: 10.3125rem;
  justify-content: space-around;
  margin-top: 3.125rem;
}
.nav-social__a:hover {
  filter: brightness(0) saturate(100%) invert(44%) sepia(19%) saturate(3659%) hue-rotate(209deg) brightness(100%) contrast(105%);
  transition-property: filter;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

@media screen and (min-width: 75rem) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }
  .main {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6, auto);
  }
  .header {
    max-width: 43.75rem;
    min-width: none;
    margin-top: 8.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttons {
    max-width: 43.75rem;
    text-decoration: none;
  }
  .buttons__a {
    align-self: center;
    width: 30%;
    height: 3.4375rem;
    border-radius: 48px;
    color: rgba(241, 241, 241, 0.9450980392);
  }
  .buttons__h1 {
    margin-top: 4.0625rem;
  }
  .buttons__p {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
  }
  .button-wrapper {
    flex-direction: row;
    column-gap: 1.25rem;
    justify-content: center;
  }
  .section-top {
    margin-top: 9.375rem;
    align-self: stretch;
    max-width: 43.75rem;
  }
  .section-top__img {
    position: relative;
    right: 10%;
  }
  .section-top__p {
    margin-top: 1.5625rem;
  }
  .article-img {
    width: 21.875rem;
    text-align: left;
    position: relative;
    right: 15%;
    top: 10%;
  }
  .div-article-top {
    width: 90vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    right: 50%;
    margin-top: 4.375rem;
  }
  .article {
    display: flex;
    flex-direction: column;
  }
  .section-mobile {
    margin-top: 6.875rem;
  }
  .article-mobile {
    margin-top: 3.125rem;
  }
  .article-mobile__p {
    margin-top: 1.5625rem;
  }
  .article-mobile__img {
    margin-top: 6.875rem;
  }
  .companys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.1875rem;
  }
  .article-summary {
    width: 20.625rem;
  }
  .logos {
    height: 50%;
    margin-top: 8.75rem;
  }
  .logos__li {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 90vw;
  }
  .footer {
    width: 100%;
    height: 9.375rem;
    margin-top: 8.75rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__wrapper {
    display: flex;
    width: 25rem;
    height: 8.125rem;
    flex-wrap: wrap;
    column-gap: 3.75rem;
  }
  .footer__a {
    flex-direction: row;
  }
  .nav-social {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
