@use "reset";
@use "variables" as *;
body {
  display: flex;
  justify-content: center;
  font-family: $principal_Font;
  background-image: url(./images/bg-header-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 100vw;
  overflow: hidden;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  text-align: center;
  justify-content: center;
  color: $Dark-Grayish-Blue;
}

.header {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
  }
}

.btn-top {
  background-color: $Strong-Cyan;
}
.btn-bottom {
  background-color: $Light-Blue;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 45px;
}

.buttons {
  text-decoration: none;
  &__a {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: 55px;
    border-radius: 3rem;
    color: #f1f1f1f1;
    text-decoration: none;
  }
  &__h1 {
    margin-top: 70px;
  }
  &__h2 {
    margin-top: 170px;
  }
  &__p {
    margin-top: 20px;
    color: $Grayish-Blue;
  }
}

.section-top {
  margin-top: 160px;
  &__h2 {
  }
  &__img {
    margin-top: 60px;
  }
  &__p {
    color: $Grayish-Blue;
    margin-top: 20px;
  }
}

.article-img {
  &__h3 {
    margin-top: 50px;
  }
  &__p {
    color: $Grayish-Blue;
    margin-top: 20px;
  }
}

.section-mobile {
  margin-top: 150px;
}

.article-mobile {
  &__h2 {
    margin-top: 120px;
  }
  &__img {
    margin-top: 60px;
  }
  &__p {
    color: $Grayish-Blue;
  }
}

.companys {
}

.article-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  &__img {
    margin-top: 50px;
  }
  &__h3 {
    margin-top: 40px;
  }
  &__p {
    color: $Grayish-Blue;
    margin-top: 20px;
  }
}
.logos {
  height: 70vh;
  &__li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 165px;
  width: 100%;
  background-color: $Footer-color;
  &__a {
    color: $Dark-Grayish-Blue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  &__a:hover {
    color: $Strong-Cyan;
  }
  &__logo {
    width: 50px;
  }
}

.nav-social {
  display: flex;
  width: 165px;
  justify-content: space-around;
  margin-top: 50px;
  &__a:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(19%) saturate(3659%)
      hue-rotate(209deg) brightness(100%) contrast(105%);
    transition-property: filter;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }
  .main {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6, auto);
  }

  .header {
    max-width: 700px;
    min-width: none;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    max-width: 700px;
    text-decoration: none;
    &__a {
      align-self: center;
      width: 30%;
      height: 55px;
      border-radius: 3rem;
      color: #f1f1f1f1;
    }
    &__h1 {
      margin-top: 65px;
    }
    &__p {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

  .button-wrapper {
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
  }

  .section-top {
    margin-top: 150px;
    align-self: stretch;
    max-width: 700px;
    &__img {
      position: relative;
      right: 10%;
    }
    &__p {
      margin-top: 25px;
    }
  }

  .article-img {
    width: 350px;
    text-align: left;
    position: relative;
    right: 15%;
    top: 10%;
    &__h3 {
    }
    &__p {
    }
  }
  .div-article-top {
    width: 90vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    right: 50%;
    margin-top: 70px;
  }
  .article {
    display: flex;
    flex-direction: column;

    &__h3 {
    }
    &__p {
    }
  }

  .section-mobile {
    margin-top: 110px;
  }

  .article-mobile {
    margin-top: 50px;
    &__h2 {
    }
    &__p {
      margin-top: 25px;
    }
    &__img {
      margin-top: 110px;
    }
  }
  .companys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
  }

  .article-summary {
    width: 330px;
    &__h3 {
    }
    &__img {
    }
    &__p {
    }
  }
  .logos {
    height: 50%;
    margin-top: 140px;
    &__li {
      display: flex;
      flex-direction: row;
      height: 25%;
      width: 90vw;
      &--img {
      }
    }
  }

  .footer {
    width: 100%;
    height: 150px;
    margin-top: 140px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    &__wrapper {
      display: flex;
      width: 400px;
      height: 130px;
      flex-wrap: wrap;
      column-gap: 60px;
    }
    &__a {
      flex-direction: row;
    }
  }
  .nav-social {
    margin-top: 0;
    &__a {
    }
  }
}
