@use "reset";
@use "variables" as *;
body {
  display: flex;
  justify-content: center;
  font-family: $principal_Font;
  background-image: url(./images/bg-header-mobile.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.main {
  display: grid;
  grid-template-columns: 100vw;
  overflow: hidden;
  grid-template-rows: repeat(6, auto);
  justify-items: center;
  text-align: center;
  justify-content: center;
  color: $Dark-Grayish-Blue;
}

.header {
  margin-top: 8.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-top {
  background-color: $Strong-Cyan;
}
.btn-bottom {
  background-color: $Light-Blue;
}
.button-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin-top: 2.8125rem;
}

.buttons {
  text-decoration: none;
  &__a {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 80%;
    height: 3.4375rem;
    border-radius: 48px;
    color: #f1f1f1f1;
    text-decoration: none;
  }
  &__h1 {
    margin-top: 4.375rem;
  }
  &__h2 {
    margin-top: 10.625rem;
  }
  &__p {
    margin-top: 1.25rem;
    color: $Grayish-Blue;
  }
}

.section-top {
  margin-top: 10rem;
  &__h2 {
  }
  &__img {
    margin-top: 3.75rem;
  }
  &__p {
    color: $Grayish-Blue;
    margin-top: 1.25rem;
  }
}

.article-img {
  &__h3 {
    margin-top: 3.125rem;
  }
  &__p {
    color: $Grayish-Blue;
    margin-top: 1.25rem;
  }
}

.section-mobile {
  margin-top: 9.375rem;
}

.article-mobile {
  &__h2 {
    margin-top: 7.5rem;
  }
  &__img {
    margin-top: 3.75rem;
  }
  &__p {
    color: $Grayish-Blue;
  }
}

.article-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
  &__img {
    margin-top: 3.125rem;
  }
  &__h3 {
    margin-top: 2.5rem;
  }
  &__p {
    color: $Grayish-Blue;
    margin-top: 1.25rem;
  }
}
.logos {
  height: 70vh;
  &__li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.3125rem;
  width: 100%;
  background-color: $Footer-color;
  &__a {
    color: $Dark-Grayish-Blue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-top: 1.875rem;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  &__a:hover {
    color: $Strong-Cyan;
  }
  &__logo {
    width: 3.125rem;
  }
}

.nav-social {
  display: flex;
  width: 10.3125rem;
  justify-content: space-around;
  margin-top: 3.125rem;
  &__a:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(19%) saturate(3659%)
      hue-rotate(209deg) brightness(100%) contrast(105%);
    transition-property: filter;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
}

@media screen and (min-width: 75rem) {
  body {
    background-image: url(./images/bg-header-desktop.png);
  }
  .main {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(6, auto);
  }

  .header {
    max-width: 43.75rem;
    min-width: none;
    margin-top: 8.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    max-width: 43.75rem;
    text-decoration: none;
    &__a {
      align-self: center;
      width: 30%;
      height: 3.4375rem;
      border-radius: 48px;
      color: #f1f1f1f1;
    }
    &__h1 {
      margin-top: 4.0625rem;
    }
    &__p {
      margin-top: 1.25rem;
      margin-bottom: 2.5rem;
    }
  }

  .button-wrapper {
    flex-direction: row;
    column-gap: 1.25rem;
    justify-content: center;
  }

  .section-top {
    margin-top: 9.375rem;
    align-self: stretch;
    max-width: 43.75rem;
    &__img {
      position: relative;
      right: 10%;
    }
    &__p {
      margin-top: 1.5625rem;
    }
  }

  .article-img {
    width: 21.875rem;
    text-align: left;
    position: relative;
    right: 15%;
    top: 10%;
  }
  .div-article-top {
    width: 90vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    right: 50%;
    margin-top: 4.375rem;
  }
  .article {
    display: flex;
    flex-direction: column;
  }

  .section-mobile {
    margin-top: 6.875rem;
  }

  .article-mobile {
    margin-top: 3.125rem;
    &__p {
      margin-top: 1.5625rem;
    }
    &__img {
      margin-top: 6.875rem;
    }
  }
  .companys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.1875rem;
  }

  .article-summary {
    width: 20.625rem;
  }
  .logos {
    height: 50%;
    margin-top: 8.75rem;
    &__li {
      display: flex;
      flex-direction: row;
      height: 25%;
      width: 90vw;
    }
  }

  .footer {
    width: 100%;
    height: 9.375rem;
    margin-top: 8.75rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    &__wrapper {
      display: flex;
      width: 25rem;
      height: 8.125rem;
      flex-wrap: wrap;
      column-gap: 3.75rem;
    }
    &__a {
      flex-direction: row;
    }
  }
  .nav-social {
    margin-top: 0;
  }
}
